body{

}
input,textarea:focus{
	outline: none;
}

#main_content{
	width:1000px;
	padding-bottom: 100px;
	background-color:;
	margin:0px auto;
}
#top_content{
	width: 98%;
	color:rgba(0,0,0,0.6);
	background-color: white;
	height: 30px;
	letter-spacing: 1px;
	padding-top: 5px;
	font-size: 16px;
	font-size:Tahoma;
}
#top_content span:hover{
	color:black;
}
#others{
	margin-top: -10px;
	height: 80px;
}
#others div{
	background-color: ;
	width: 540px;
	height: 100px;
	float:left;
}
#poiskovik{
	margin-left: 20px;
	width: 385px;
	padding-left:15px;
	border:1px solid rgba(100,100,100,0.3);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: rgba(200,200,200,0.6);
	height: 33px;
}
#naity{
	height: 38px;
	background-color: rgb(197,0,26);
	color:white;
	border:0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
	width:90px;
	cursor:pointer;
	font-size:15px;
	font:"Open Sans","Arial";
}
#naity:hover{
	background-color: rgb(177,0,16);
	color:rgba(255,250,250,0.7);
}
#add_obyav{
	background-color: rgb(35,180,52);
	width: 260px;
	font-size:15px;
	height: 38px;
	margin-top:35px;
	border:0px;
	margin-left: -5px;
	color:white;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}
#add_obyav:hover{
	background-color: rgb(25,170,38);
	color:rgba(200,200,200,0.8);
	}
#categories{
	margin-top: 30px;
}
#categories .fellas{
	width: 260px;
	height: 380px;
	float:left;
}
.new_fellas{
	float:left;
	height: 550px;
	font-family: "Open Sans";
}
#categories #categor_all{
	background-color:rgb(194, 43, 23);
	padding-top: 20px;
}
#categories .idies{
	width: 160px;
	height: 190px;
	float:left;
	text-align: center;
	margin-left: 15px;
	color:white;
	font: 18px "neou";
	cursor: pointer;
	background-color: rgb(199,48,38);
}
#categories .idies:hover{
	background-color: rgb(224,73,53);
}
#categories #other_link{
	width: 685px;
	margin-top: 15px;
	margin-left: 15px;
	height: 170px;
	float: left;
}
#categories #other_link ul{
	float:left;
	margin-left: -35px;
}
#categories #other_link ul li{
	list-style: none;
	padding: 5px;
	border-bottom: 1px solid rgba(220,220,220,0.25);
}
#categories #other_link ul li:hover{
	background-color: rgba(255,255,255,0.2);
}
#categories #other_link ul a{
	font-size: 15px;
	text-decoration: none;
	padding-top: 3px;
	color:white;
	font-family: "Open Sans";
}
#show_sost{
	width: 100%;
	margin-top: 60px;
	height: 280px;
	float:left;
	margin-bottom: 15px;
}
#show_sost .adv_all{
	width: 230px;
	margin-left: 15px;
	height: 350px;
	float: left;
	text-align: center;
}
#show_sost .adv_all .text_out{
	font-size: 18px;
	font-weight: bolder;
	color:rgb(100,100,100);
}
#show_sost .adv_all .text_in{
	font-size: 13px;
}
#bottom_in{
	width: 100%;
	height: 130px;
	background-color:rgb(194, 43, 23);
	float:left;
	font-family: "Open Sans";
	color:rgb(245,245,245);
	margin-top: 100px;
}
#bottom_in ul{
	float:left;
}
#bottom_in ul li{
	float:left;
	list-style: none;
}
#copyrights{
	float:left;
	margin-top: -10px;
	margin-left: -20px;
	margin-bottom: 0px;
}
#copyrights ul li{
	list-style: none;
	float:left;
}
#all_cons{
	position: fixed;
	width: 100%;
	height: 100%;
	margin:0px;
	display: none;
	margin-left: -10px;
	margin-top: -10px;
	background-color: rgba(0,0,0,0.4);
}
#log_pole{
	margin:0px auto;
	width: 400px;
	height: 360px;
	margin-top: 150px;
	background-color: white;
	text-align: center;
}
#log_pole .log_in_to{
	width: 50%;
	height: 50px;
	float:left;
	cursor: pointer;
	font-size: 24px;
	color:rgb(110,110,110);
	padding-top: 20px;
	text-align: center;
	background-color: white;
}
#pole_input{
	padding-top: 30px;
}
#pole_input input{
	width: 270px;
	margin-top: 20px;
	height: 30px;
	padding-left: 15px;
	font-size: 16px;
}
#pole_input ul li{
	list-style: none;
	float:left;
}
.id_check_click{
	cursor: pointer;
}
#but_it_clcik{
	background-color: rgb(197,0,26);
	border:0px;
	margin-left: -75px;
	border-radius: 3px;
	color:rgba(255,255,255,0.8);
}
#closer{
	position: absolute;
	margin-left: 395px;
	margin-top: -35px;
	background-color: white;
	padding:10px;
	width: 17px;
	text-align: center;
	border-radius: 505px;
	font-size: 16px;
	font-family: "Open Sans";
	color:rgba(0,0,0,0.5);
	cursor: pointer;
}
#nets{
	display: none;
	margin-top: 40px;
}
#nets ul li{
	list-style:none;
	float:left;
}
#dobavo4niy{
	
}
#loca_add{
	height:25px; border:2px solid rgba(0,0,0,0.3);padding:15px;font-family:serif;font-size:20px;

}
.new_fellas input{
	height: 25px;
	width: 300px;
	color:rgba(0,0,0,0.6);
	font-size: 15px;
	margin-top: 10px;
	padding:5px;
}
.new_fellas input:hover{
	border:1px solid rgba(20,130,10,0.8);
}

#all_text{
	width: 650px;
	height: 200px;
	font-size: 15px;
	margin-top: 10px;
	color:rgba(0,0,0,0.4);
	padding:7px;
}
#all_text:hover{
	border:1px solid rgba(20,130,10,0.8);
}
.new_fellas select{
	width: 315px;
	padding: 5px;
	color:rgba(0,0,0,0.5);
}
.new_fellas select:hover{
	border:1px solid rgba(20,130,10,0.8);
}